<!DOCTYPE html>
<html>
<head>
    <title>Donation Dashboard</title>
</head>
<body>

<h1>Evangelism Donations Dashboard</h1>

<div style="margin-bottom:20px;">
    <h3>Total Donations: TZS {{ "{:,.0f}".format(total_amount) }}</h3>
    <h3>Total Records: {{ total_records }}</h3>
</div>

<hr>

{% set total = 0 %}

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Month</th>
        <th>Year</th>
    </tr>

    {% for d in donations %}
    <tr>
        <td>{{ d[1] }}</td>
        <td>{{ d[2] }}</td>
        <td>{{ d[3] }}</td>
        <td>{{ d[4] }}</td>
        <td>{{ d[5] }}</td>
        <td>{{ d[6] }}</td>
    </tr>

    {% set total = total + d[3] %}
    {% endfor %}

</table>

<hr>

<h3>Monthly Donations Summary</h3>

<table border="1" cellpadding="8">
    <tr>
        <th>Month</th>
        <th>Total Amount (TZS)</th>
    </tr>

  <th>Payment Status</th>
  <th>Action</th>

    {% for m in monthly_data %}
    <tr>
        <td>{{ m[0] }}</td>
        <td>{{ "{:,.0f}".format(m[1]) }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<a href="/export">
    <button>Export Excel</button>
</a>

</body>
</html>